# Firebase Admin SDK
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Admin dashboard
ADMIN_EMAIL=admin@lfdweb.com
ADMIN_PASSWORD_HASH=
ADMIN_PASSWORD_SALT=change-moi
ADMIN_JWT_SECRET=change-moi-aussi-une-longue-chaine-aleatoire

# Sécurité interne bot Android <-> backend
INTERNAL_API_KEY=

# FeexPay
FEEXPAY_API_KEY=
FEEXPAY_SHOP_ID=
FEEXPAY_WEBHOOK_SECRET=

PUBLIC_BASE_URL=https://ton-domaine.vercel.app
